*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.clearfix{
    float: none;
    clear: both;
}

#global{
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    background: white;
    padding: 25px;
    box-shadow: 0px 0px 10px gray;
}
#logo{
    font-family: Verdana, Arial;
    font-size: 25px;
    letter-spacing: 4px;   
    color: white;
    text-align: center;
    width: 385px;
    height: 80px;
    float: left;
    margin-bottom: 20px;
    line-height: 80px;
    text-transform: uppercase;
}
#menu{
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;

}
#menu ul{
    line-height: 46px;
    list-style: none;
}
#menu li{
    height: 46px;
    display: inline-block;
    transition: all 300ms;
    
}


#menu a{
    color: white;
    display: block;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
.post{
    padding: 5px;
    text-align: justify;
}

#post{
    width: 60%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
}
.post h2{
    font-size: 30px;
    color: #333;

}
.post .date{
    display: block;
    color: gray;
    margin-top: 10px;
}
.post p{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 25px;
}
.button-more{
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 15px;
    
    color: white;
    width: 60px;
    float: auto;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;

}

#sidebar{
    font-family: Arial, Helvetica, sans-serif;
    width: 31%;
    float: right;
}

#sidebar h4{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
    background: url(../img/lines.png) repeat-x;
}
#sidebar h4 span{
    background: white;
    padding: 5px;

}

#sidebar img{
    width: 100%;
}

#sidebar p{
    margin-top: 10px;
    font-size: 15px;
    text-align: justify;
}

form input[type="password"],
form input[type="text"],
form input[type="email"],
form input[type="number"],
select {
   padding: 5px;
   border-radius: 2px;
   border: 1px solid #333;
   width: 100%;
   margin-bottom: 10px;
   margin-top: 5px;

}

form input[type="submit"]{
    background: #eee;
    padding: 5px;
    border: 1px solid gray;
    color: #333;
    cursor: pointer;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 47px;
    background: rgba(51, 51, 51, 0.70);
    margin: 0px auto;
    width: 65%;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 60px;
    line-height: 47px;
    text-align: center;
}

.bx-wrapper, .bx-viewport{
    height: 300px !important;
    
}
#selector-theme{
position: fixed;
top: 40%;
background: rgba(51, 51, 51, 0.7);
height: 115px;
width: 50px;
}

#to-green,
#to-red,
#to-blue{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    display: block;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#to-green{
    background: #235e3d;
}
#to-red{
    background: #ca3413;
}

#to-blue{
    
    background: #1f87c4;
}
.subir{
    color: white;
    text-decoration: none;
    display: block;
    float: right;
}
#box{
    width: 60%;
    float: left;
    margin-top: 40px;
}

#acordeon{
    margin-top: 20px;
}

#reloj{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    border: 5px dashed #333;
    width: 45%;
    padding: 30px;
    margin: 0 auto;
}

#form_contact{
    width: 80%;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;   
}

#form_contact label{
 width: 100%;
 display: block;
 margin-top: 5px;
}

.form-error{
    background: #ff0000d4;
    color: white;
    font-size: 14px;
    width: 100%;
  
    height: 100%;
    text-align: center;
}